@model PostViewModel

<div class="modal fade bd-example-modal-lg" id="newpost" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Post" asp-action="InsertWithPostViewModel" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="form-group" style="width:100%;">
                                <label for="recipient-name" class="col-form-label">Title</label>
                                <input type="text" asp-for="post.Name" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="width:100%;">
                                <div class="container">
                                    <div class="panel">
                                        <div class="button_outer">
                                            <div class="btn_upload"><input type="file" id="upload_file" name="files">Upload Image</div>
                                            <div class="processing_bar" style="margin:auto;"></div>
                                            <div class="success_box"></div>
                                        </div>
                                    </div>
                                    <div class="error_msg"></div>
                                    <div class="uploaded_file_view" id="uploaded_view">
                                        <span class="file_remove">X</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="width:100%;">
                                    <label for="recipient-name" class="col-form-label">Category</label>
                                    <select asp-for="post.CategoryID" class="form-control">
                                        @foreach (Category category in ViewBag.categories)
                                        {
                                            <option value="@category.ID">@category.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="width:100%;">
                                    <label for="recipient-name" class="col-form-label">Tags</label>
                                    <input type="text" asp-for="tagsString"  class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="width:100%;">
                                <label for="message-text" class="col-form-label">Message:</label>
                                @Html.TextAreaFor(Model => Model.post.Description, new { @class = "form-control", @name = "content", @id = "newPost" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>
